@media screen and (min-width: 38rem) {

  .navigation {
    display: flex;
  }
  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 100%;
  }
  .navigation a {
    text-align: center;
  }

  #menu {
    display: none;
  }
.parent section {
    /* margin: 0.5rem; */
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 15px 0 #006699;
}
.parent{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    margin: 1rem;
}
#members-list{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    margin: 1rem;
    
}
.member-card{
  box-shadow: 0 4px 15px 0 #006699;
}
footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  
  
}
.footerp{
  margin: 1rem 1rem 1rem 1.5rem;
  font-size: 14px;
  /* margin-right: 2rem; */
}
.footericon{
  width:100%;
  display: block;
   margin: auto;
}
.fa {
  /* width: 100%; */
  color:#fff;
  background-color: #000;
  border-radius: 50%;
  padding: 20px;
  font-size: 20px;
  /* width: 50px; */
  /* text-align: center; */
  text-decoration: none;
}

.footerjs{
  margin: 1.5rem 1.5rem 1rem 1rem;
  font-size: 14px;
  /* text-align: center; */
}
}