* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", serif;
  font-weight: 400;
}
h1 {
  font-weight: 100;
  margin-top: 5px;
  color: #1e81b0;
  margin: 1rem 0 0 1rem;
}
header,
footer {
  background-color: #1e81b0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  padding: 1rem;
  margin: 0 2rem 0 2rem;
}
header span {
  color: #ffffff;
  font-size: 20px;
}
#myButton {
  font-size: 2rem;
  border: none;
  background: none;
  color: #fff;
  text-align: left;
  cursor: pointer;
  width: 100%;
  padding: 0.25rem 2vw;
  margin-bottom: 4rem;
}

.menuLinks {
  list-style-type: none;
  display: none;
}
.menuLinks.open {
  display: flex;
}
.menuLinks li a {
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 0.75em 2vw;
  /* background-color: #21130d; */
}

.parent section {
  margin: 0 0.5rem 0 0.5rem;
  overflow: hidden;
}
.parent section ul li {
  margin-left: 30px;
}
.parent section ul {
  padding: 20px;
}
.parent section h2 {
  background-color: #1e81b0;
  color: #fff;
  text-align: center;
  /* display: block; */
  padding: 10px;
  font-size: 1rem;
  line-height: 1.5;
}
.courses {
  margin: 0 0.5rem 0 0.5rem;
  overflow: hidden;
}
.courses h2 {
  background-color: #1e81b0;
  color: #fff;
  text-align: center;
  /* display: block; */
  padding: 10px;
  font-size: 1rem;
  line-height: 1.5;
}
.parent section img {
  margin: 5px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.parent section p {
  text-align: center;
  margin-bottom: 2rem;
}
.courses section button {
  background-color: #21130d;
  padding: 0.25rem 2rem 0.25rem 2rem;
  margin: 0.5rem 0 0.25rem 0.25rem;
  border: 1px solid black;
  border-radius: 5px;
  color: #fff;
  /* font-size: 0.5rem; */
}
.course-card {
    display: block;
    padding: 0.5rem 7rem 0.5rem 7rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: #873e23;
}

.courses section .course {
  display: block;
  padding: 0.5rem 7rem 0.5rem 7rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background-color: #873e23;
}
.false {
  display: block;
  padding: 0.5rem 7rem 0.5rem 7rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background-color: #fff;
}
footer {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
}
#lastModified {
  font-size: 0.9rem;
  padding-top: 0.5rem;
}
